<p> These are the rules to this here event </p>

<h2> Price 💸 </h2>
<p>A firm $50, any currency as long as it’s one of the official currencies of Canada. </p>

<h2>Due Date 🗓 </h2>
<p>December 30<sup>th</sup> </p>

<h2>Bro Code</h2>
<p>Do not discuss with anyone or <a href="https://en.wikipedia.org/wiki/Information_theory">information</a> is leaked.</p>
<p>It’ll be neato burrito forreal.</p>

<h2>Remember</h2>
<blockquote> Don’t hate the player, hate the <a href="https://en.wikipedia.org/wiki/Damian_Lillard">Dame</a> </blockquote>